html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

.wrapper {
  position: relative;
  top: 30%;
  font-size: 3rem;
}

.msg {
  background-color: rgb(109, 1, 1);
  color: green;
  width: 4em;
  text-align: center;
  position: absolute;
  top: 80%;
  left: 10%;
  /* -ms-transform: translate(-50%, -50%); */
  /* transform: translate(-50%, -50%); */
  transition: all 0.2s;

  cursor: pointer;
}

.msg:hover {
  background-color: rgb(238, 0, 0);
}

.msg:active {
  background-color: rgb(24, 0, 238);
  transform: translate(0, 6px);
}

.blurry {
  filter: blur(20px);
  position: relative;
  color: white;
  width: 300px;

  left: 50%;
  text-align: center;
  transform: translate(-50%, 30%);
  background-color: rgb(72, 82, 92);
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 15rem;
  background-color: rgb(36, 110, 75);
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
}
